body {
  background-color: #03506f;
  font-style: italic;
  color: inherit;
  align-content: center;
    text-align: center;
    text-shadow:10px 10px 10px black;
}

hr {
  border-style: none;
  border-top: 5px dotted #94b5c0;
  width: 06%
}

h1 {
  color: #94b5c0;
    text-align: center;
}

h3 {
  color: #94b5c0;
    text-align: center;

}

h2 {
  color: #94b5c0;
    text-align: center;
}

a:link, a:visited {
  color: #94b5c0;
  border: none;
  text-align: center;
  text-decoration: none;
  display:inherit;
}

a:hover, a:active {
  color:#94b5c0;
  font-size: 101%;
}

p {
  align-self: center;
  text-align: center;
  color: #94b5c0;
  font-size-adjust:inherit;
}
table {
  width: 50%;
  align-self: center;
  text-align: left;
  align-content: center;

}

.center {
  margin-left: auto;
  margin-right: auto;
}

p2{
  text-align: left;
}

p4{
  color: #94b5c0;
  text-decoration: none;
}

.shadow{
  box-shadow: 5px 5px 10px black;
}
